<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayurvedic Body Type</title>
    <link rel="stylesheet" href="static/ayu.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
        <div class="logo"><img src="static/images/logo1.png" alt="logo"></div>
        <li class="nav-item"> <a href="http://127.0.0.1:5000/project.html" >Home</a></li>
        <!-- <li class="nav-item"> <a href="#Diseases">Diseases</a></li> -->
        <li class="nav-item"> <a href="ayu.html">Test</a></li>
        <li class="nav-item"> <a href="./blogs.html">Blogs</a></li>
        <li class="nav-item"> <button class="btnLogin-popup">Login</button></li></ul>
    </nav>
    <div class="container">
        <div class="back-img"><img src="static/images/Yoga.jpg"Ayu-img"></div>
        <div class="text1">Ayurvedic Dosha Test</div>
        <div class="text2">Try our quiz to find yours..</div>
    </div>
    <div class="text3">What is a Dosha test?</div>
    <div class="text4">Welcome to our Ayurveda portal, where we delve into the ancient art of Ayurveda - a time-tested system of natural healing that has been practiced for thousands of years. Originating in India, Ayurveda translates to "the science of life" and is grounded in the belief that true health is achieved through harmony among the body, mind, and spirit.

        At its core, Ayurveda revolves around the understanding that each individual is unique, with their own specific physical and mental characteristics. These characteristics are influenced by the combination of the five elements found in nature: Earth, Water, Fire, Air, and Ether.</div>

    <div class="img1"><img src="static/images/Ayurved-Dosha.webp" alt="dosha"></div>
    
        <button class="butt" onclick="window.location.href='ayu.test.html'" > Quiz</button> 
    

    
</body>
</html>