<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosha quiz</title>
    <link rel="stylesheet" href="static/ayu.test.css">

</head>
<body>
  <nav class="navbar">
    <ul class="nav-list">
    <div class="logo"><img src="static/images/logo1.png" alt="logo"></div>
    <li class="nav-item"> <a href="http://127.0.0.1:5000/project.html" >Home</a></li>
    <!-- <li class="nav-item"> <a href="#Diseases">Diseases</a></li> -->
    <li class="nav-item"> <a href="ayu.html">Test</a></li>
    <li class="nav-item"> <a href="./blogs.html">Blogs</a></li>
    <li class="nav-item"> <button class="btnLogin-popup">Login</button></li></ul>

    <div class="container">
        <img src="static/images/desktop-wallpaper!!.jpg" alt="fatuu">
        <div class="text">
            <form action="#" id="quizForm" >
                <h2>Physical traits:</h2>
              <h3>1) Body Frame :</h3>
              <label>
                <input type="radio" name="q1" value="vatta" >
                Thin, bony and small frame.
              </label><br>
              <label>
                <input type="radio" name="q1" value="pitta">
                Medium/ muscular built.
              </label><br>
              <label>
                <input type="radio" name="q1" value="kapha">
                Large Built and easily gain weight.
              </label>


              <h3>2) Weather prefrence :</h3>
              <label>
                <input type="radio" name="q2" value="vatta">
                Enjoy warm weather, but hate cool weather.
              </label><br>
              <label>
                <input type="radio" name="q2" value="pitta">
                Enjoy cool weather and dislike warm one.
              </label><br>
              <label>
                <input type="radio" name="q2" value="kapha">
                Comfortable for most of the year, but prefer spring and summer over damp .
              </label>


              <h3>3) Walk & Talk :</h3>
              <label>
                <input type="radio" name="q3" value="vatta">
                Fast walk and talk.
              </label><br>
              <label>
                <input type="radio" name="q3" value="pitta">
                Moderate walk and talk.
              </label><br>
              <label>
                <input type="radio" name="q3" value="kapha">
                Slow and steady walk.
              </label>


              <h3>4) Appetite:</h3>
              <label>
                <input type="radio" name="q4" value="vatta">
                Irregular.Sometimes I feel hungry, sometimes not.
              </label><br>
              <label>
                <input type="radio" name="q4" value="pitta">
                Strong and sharp. Always Hungry.
              </label><br>
              <label>
                <input type="radio" name="q4" value="kapha">
                Decent appetite
              </label>


              <h3>5) Skin type:</h3>
              <label>
                <input type="radio" name="q5" value="vatta">
                Normal to dry skin, face issues like dullness and dryness.
              </label><br>
              <label>
                <input type="radio" name="q5" value="pitta">
                Normal to oily skin , face issues like inflammation and redness.
              </label><br>
              <label>
                <input type="radio" name="q5" value="kapha">
                Thick and cool skin, face issues like itching and fungal infections.
              </label>


              <h3>6) Hair type:</h3>
              <label>
                <input type="radio" name="q6" value="vatta">
                Rough, dry and wavy hair.
              </label><br>
              <label>
                <input type="radio" name="q6" value="pitta">
                Normal, straight, thin and brown hair.
              </label><br>
              <label>
                <input type="radio" name="q6" value="kapha">
                Thick, curly and oily hair
              </label>


              <h3>7) Sweating:</h3>
              <label>
                <input type="radio" name="q7" value="vatta">
                Sweat a little, minimum body odour.
              </label><br>
              <label>
                <input type="radio" name="q7" value="pitta">
                Heavy sweating with medium body odour.
              </label><br>
              <label>
                <input type="radio" name="q7" value="kapha">
                Moderate sweating with strong body odour 
              </label>


              <h3>8) Teeth and Lips:</h3>
              <label>
                <input type="radio" name="q8" value="vatta">
                Have thin lips and uneven teeth
              </label><br>
              <label>
                <input type="radio" name="q8" value="pitta">
                Medium size lips with upper lip slightly darker than lower lip. Suffer from cavities
              </label><br>
              <label>
                <input type="radio" name="q8" value="kapha">
                Large lips and well aligned teeth
              </label>


              <h3>9) Eyes:</h3>
              <label>
                <input type="radio" name="q9" value="vatta">
                Small in size, feel dry and sleepy
              </label><br>
              <label>
                <input type="radio" name="q9" value="pitta">
                Medium in size, often expirence redness
              </label><br>
              <label>
                <input type="radio" name="q9" value="kapha">
                Big and attractive eyes, large eye lashes
                
              </label>

    
              <h3>10) Bodily signs:</h3>
              <label>
                <input type="radio" name="q10" value="vatta">
                Cracking sounds in joints
              </label><br>
              <label>
                <input type="radio" name="q10" value="pitta">
                Black moles on body
              </label><br>
              <label>
                <input type="radio" name="q10" value="kapha">
                Disproportionate body like heavy thighs, hips, etc 
                
              </label>
              <br>
              <br>
              <h2>Mental/ Emotional traits:</h2>

              <h3>11) Mental state:</h3>
              <label>
                <input type="radio" name="q11" value="vatta">
                Gets restless often
              </label><br>
              <label>
                <input type="radio" name="q11" value="pitta">
                Impatient and aggressive
              </label><br>
              <label>
                <input type="radio" name="q11" value="kapha">
                Cool and composed
                
              </label>

              <h3>12) Memory:</h3>
              <label>
                <input type="radio" name="q12" value="vatta">
                Quick to learn but quick to forget (short term memory is good)
              </label><br>
              <label>
                <input type="radio" name="q12" value="pitta">
                Moderate to learn, but once learnt, never forgets
              </label><br>
              <label>
                <input type="radio" name="q12" value="kapha">
                Slow to learn (Long term memory is good)
                
              </label>


              <h3>13) Response to action:</h3>
              <label>
                <input type="radio" name="q13" value="vatta">
                Over thinking
              </label><br>
              <label>
                <input type="radio" name="q13" value="pitta">
                Quick implementation
              </label><br>
              <label>
                <input type="radio" name="q13" value="kapha">
                Lazy implementation 
                
              </label>


              <h3>14) Emotional nature:</h3>
              <label>
                <input type="radio" name="q14" value="vatta">
                I worry a lot. Often feel anxious
              </label><br>
              <label>
                <input type="radio" name="q14" value="pitta">
                I often get irritable, angry and impatient
              </label><br>
              <label>
                <input type="radio" name="q14" value="kapha">
                Loving and caring
                
              </label>


              <h3>15) Sleep Quality:</h3>
              <label>
                <input type="radio" name="q15" value="vatta">
                Light and disturbed sleep. I can wake up easily in morning.
              </label><br>
              <label>
                <input type="radio" name="q15" value="pitta">
                Moderate but regular, I can go back to sleep easily.
              </label><br>
              <label>
                <input type="radio" name="q15" value="kapha">
                Deep and heavy. I can't wake up easily.
                
                
              </label>



            </form>
            <button type="button" class="bu" onclick="calculateDosha()"> Predict</button>
        
            
        
        </div>
    </div>
</nav>
<script src="static/ayu.js"></script>

    
</body>
</html>